 @font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    width: 1300px;
    margin: 0 auto;
    padding: 0;
    font-family: roboto, openseans, sans-serif;
}

img {
    display: inline-block;
}

.container {
    margin: 0;
    padding: 0 100px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fff;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; */
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    height: 56px;
}

.pixer-logo-link {
    text-decoration: none;
}

.header-nav {
    display: flex;
    margin-left: auto;
    margin-right: 24px;
}

.header-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-item-link {
    padding: 16px;
    color: black;
    text-decoration: none;
    Font-family: Open-Sans;
    Font-style: Regular;
    Font-size: 15px;
    Line-height: 24px;
    Line-height: 117%;
}

.header-item-link:hover {
    border-bottom: 5px solid black;
}

.header-item-link:active {
    background-color: #191919;
    color: #fff;
}

.header-item-option {
    border: none;
    align-items: center;
    /* appearance: none; */
    margin: 0;
    padding: 0;
    padding-bottom: -5px;
}

.header-tel-button {
    display: flex;
    align-items: center;
    background-color: #00BAFC;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 16px;
    width: 160px;
    height: 40px;
}

.header-tel-button:hover {
    border: 2px solid #00BAFC;
    background-color: #fff;
    color: #00BAFC;
}

.header-tel-button:active {
    background-color: #00BAFC99;
    border: 2px solid #00BAFC99;
}

/* HERO */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 80px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 470px;
}

.site-heading {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    Font-family: Open-Sans;
    Font-style: Bold;
    Font-size: 30px;
    Line-height: 39px;
    Line-height: 130%;
}

.site-heading-desc {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    Font-family: Open-Sans;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 24px;
    Line-height: 110%;
}

.hero-button {
    background-color: #00BAFC;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 16px;
    width: 232px;
    height: 40px;
}
.hero-button:hover {
    border: 2px solid #00BAFC;
    background-color: #fff;
    color: #00BAFC;
}

.hero-button:active {
    background-color: #00BAFC99;
    border: 2px solid #00BAFC99;
}

.hero-iframe {
    width: 458px;
    height: 258px;
}

/* SERVICES */

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-heading {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Open-Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
}

.services-heading-desc {
    margin: 0 auto;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 24px;
    text-align: center;
    width: 719px;
    font-family: Open-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding:0;
    list-style: none;
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding:24px 56px ;
    margin-bottom: 48px;
    width: 320px;
    /* height: 260px; */
}

.services-item:hover {
    background: #FFFFFF;
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
}

.services-item:active {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.services-item+.services-item {
    margin-left: 70px;
}

.services-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.services-item-link-img {
    margin: 0;
}

.services-item-link-heading {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    color:  #000000;
    font-family: Open-Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
}

.services-item-link-heading-desc {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    color:  #000000;
    font-family: Open-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.services-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.services-bottom-button {
    text-decoration: none;
    padding: 8px 16px;
    background: #00BAFC;
    color: #fff;
    border-radius: 5px;
}

.services-bottom-link {
    padding-left: 16px;
}

/* BIZ QANDAY ISHLAYMIZ  WORKING */

.working {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 126px 234px 0;
}

.working-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  auto;
    width: 719px;
}

.working-top-heading {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
}

.working-top-heading-desc {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.working-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 50px;
    list-style: none;
}

.working-item {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.working-item+.working-item {
    padding-top: 48px;
}

.working-item:nth-child(even){
    flex-direction: row-reverse;
}

.working-item-link{
    text-decoration: none;
    width: 493px;
}

.working-item-link-heading {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
}

.working-item-link-heading-desc {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.working-button {
    text-decoration: none;
    padding: 8px 16px;
    background: #00BAFC;
    color: #fff;
    border-radius: 5px;
}

.working-button:hover {
    background: rgba(0, 186, 252, 0.8);
}

.working-button:active {
    background: rgba(0, 186, 252, 0.6);
}

/* BUYURTMA BERISH ORDER */

.order {
    margin-top: 56px;
    padding-top: 56px;
    padding-bottom: 64px;
    background-color: rgba(0, 186, 252, 1);
}

.order-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 720px;
}

.order-box-heading {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.order-box-heading-desc {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

/* FORM */

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 24px;
    padding: 24px;
    width: 348px;
    height: 304px;
    background-color: #fff;
}

.name-input {
    border-radius: 5px;
    border: none;
    background-color: #F3F3F3;
    width: 300px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;

}

.name-input:focus {
    outline: none;
}

.label {
    border: none;
    background-color: rgba(243, 243, 243, 1);
}

.select {
    width: 300px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    border-radius: 5px;
    appearance: none;
    width: 100%;
}

.forms-button {
    border: none;
    margin: 0 auto;
    position: static;
    width: 167px;
    height: 40px;
    left: 90.5px;
    top: 240px;
    background: #00BAFC;
    border-radius: 5px;
}

.forms-button:hover {
    background: rgba(0, 186, 252, 0.8);
}

.forms-button:active {
    background: rgba(0, 186, 252, 0.6);
}

.input {
    background-image: url(../images/input.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}